/* Estilização da parte principal da página 4 */
body{
    font-family: sans-serif;
    background-color: #fefefe;
    color: #624378;
}

main{
    padding: 30px 50px;
}

.card{
    background-color:#f8f7ef ;
    border: 1px solid #624378;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

select {
    padding: 10px;
    border: 1px solid #DCCB7B;
    border-radius: 5px;
    outline: 0;
}

.linhaDeInput{
    display:grid; /* para colocar um abaixo do outro*/
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 1px solid #DCCB7B;
    border-radius: 5px;
    outline: 0; /* para tirar a bordar quando recebe o focus*/
}

.botao{
    border:0;
    padding: 10px;
    outline: 0;
    background-color: #2e1652;
    color: #fefefe;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease 0.5s;
}

.botao:hover{
    background-color: #624378;
    
}
.conteudo{
    margin-top: 15px;
}
table{
    border-collapse: collapse;
    border: 1px solid #2e1652;
    width: 100%;
}

table th{
    background-color: #624378;
}

table th, td{
    padding: 1px 5px;
    text-align: left;
    
}

table td img{
    width: 22px;
    cursor: pointer;
}

.center{ 
     text-align: center;
   
} 
#fonte_tabela {
    color: #dccb7b;
}

.banner_despesa {
    background-color: #f3eedc; 
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.banner_pg4{
    height: auto;
}

.despesa {
    font-weight: bolder;
    margin-top: 2rem;
    text-align: center;
    margin-left: 62rem;
    width: 20%;
}

#tituloSoma {
     background-color:#624378 ;
     color: #dccb7b ;
     margin-bottom: 0.6rem;
}

#imagem_tamanho {
    width: 58.56vw;
    height: 60.88vh;  
}

@media (max-width: 375px){

    #imagem_tamanho{
        width: 100%;    
        height: 30vh;
    }

}
