*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    margin-left: 1em;
}

.header{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto;
    background-color: #3f3655;
    border-top: 5px solid #DCCB7B;
    border-bottom: 5px solid #DCCB7B;
    width: 100%;
    height: auto;
}

#menu{
    font-size: 20px;
    color: #DCCB7B;
    margin-top: auto;
    margin-bottom: auto;
}


#menu ul{
    display: flex;
    flex-direction: row;
    list-style: none;    
    justify-content: space-around;

}

#menu li a{
    text-decoration: none;
    color: #DCCB7B;
    transition-duration: 0.4;
}

#menu li a:hover{
    color: white;
    font-size: 21px;
}

#acessivel{
    color: #DCCB7B;
    margin-left: auto;
    padding-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

#acessivel span{
    margin: 3px;
    cursor: pointer;
}

#fonteMenor, #fonteMaior{
    border: 1px solid #DCCB7B;
    border-radius: 3px;
}

.footer{
    background-color: #3f3655;
    border-top: 5px solid #DCCB7B;
    border-bottom: 5px solid #DCCB7B;
    width: 100%;
    height: auto;
}   

#grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr;
    height: 80px;
}

#contato, #rede-social, #email{
    margin: auto;
}

.box{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: auto;
}

.box p{
    margin: auto;
    padding-left: 10px;
    color: #DCCB7B;
    font-weight: bold;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#copyright{
    text-align: center;
    color: #DCCB7B;
    font-size: 13px;
}

@media (max-width: 375px){
   
    .header{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #logo img{
        width: 80px;
    }   

    #logo{
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    #menu{
        font-size: 15px;
    }

    .footer{
        height: 250px;
    }


    #acessivel span{
        font-size: 13px;
    }

    #grid-container{
        margin-top: 10px;
        display: grid;
        grid-template-columns: auto;
    }

    #copyright{
        margin-top: 130px;
    }
}


/*.header{
    height: 80px;
}

#logo{
    margin-left: 100px;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin: 10px;
    }
    
    #menuToggle input
    {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    }
    
    #menuToggle span
    {
    display: flex;
    width: 29px;
    height: 2px;
    margin-top: 200px;
    position: relative;
    background: #a03a50;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }
     */
    /* transição das barrinhas para o x */
    /* #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }
    
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #05259b;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    } */
    
    /* caixa do menu */
    /* #menu
    { */
    /* position: absolute; */
    /* width: 280px;
    height: 700px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    /* padding-top: 125px; 
    background-color: #F5F6FA;
    border-radius: 20px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
    padding: 10px 0;
    transition-delay: 2s;
    }
    
    #menuToggle input:checked ~ ul
    {
    transform: none;
    }
    .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    }
} */